@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  --border-regular: 1px;
  --border-thin: 0.5px;
  --border-colour: rgba(0,0,0,0.05);

  --transition-props: 0.2s all cubic-bezier(0.165, 0.84, 0.44, 1);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body,
#__next {
  height: 100%;
}

html {
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.topbar,
.titlebar,
.footerbar {
  padding: 1.7rem;
  border-style: none none solid none;
  border-width: var(--border-regular);
  border-color: var(--border-colour);

  display: flex;
  gap: 0.5rem;
}

.footerbar {
  border-style: solid none none none;

  justify-content: space-between;
}

.topbar--header,
.titlebar--header,
.footerbar--key {
  font-weight: bold;
  letter-spacing: -0.05rem;
  line-height: 1rem;
}

.footerbar--value {
  line-height: 1rem;
}

.titlebar--dot {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  background: black;
}


.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
}

.layout {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  flex-grow: 1; /* for vertical stretch */
}

.layout--left,
.layout--centre,
.layout--right {
  flex-grow: 1;
}

.layout--centre {
  border-style: none solid none solid;
  border-width: var(--border-regular);
  border-color: var(--border-colour);
}

.block {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.block--inner {
  flex-grow: 1;
}


.table {
  width: 100%;
  border-spacing: 0;
  border: none;
}

.table th {
  text-align: left;
  font-weight: 600;
}

.table th,
.table td {
  padding: 0;
  border-style: none none solid none;
  border-width: var(--border-thin);
  border-color: var(--border-colour);
}

.table th {
  padding: 0.5rem 0.8rem;
  user-select: none;
}

.block--inner-add {
  margin: 0.5rem 0.8rem;
  display: table;
  opacity: 0.18;
  user-select: none;
  cursor: pointer;
  transition: var(--transition-props);
}

.block--inner-add:hover {
  opacity: 0.3;
}

input.cell {
  margin: 0;
  padding: 0.5rem 0.8rem;
  border: none;
  outline: none;
  width: 100%;
  transition: var(--transition-props);
}

input.cell:focus {
  background: rgba(0,0,0,0.02);
}

.table tr.readonly td {
  background: rgba(0,0,0,0.03);
}

.table tr.readonly input.cell,
.table tr.readonly input.cell:focus {
  background: none;
}

.x {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0,0,0,0);
  cursor: pointer;
}

.x * {
  transition: var(--transition-props);
}

.table td:hover > .x {
  color: rgba(0,0,0,0.2);
}

.table td .x:hover {
  color: rgba(178, 0, 0, 0.427);
}